{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form method="post" class="goCard">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}


					<div class="rounded p-5">
						<h1 class="h2 mb-5 font-weight-normal text-white">Please sign in</h1>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Username" class="form-control" autocomplete="username" required autofocus>
						<input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" autocomplete="current-password" required>
						<label>
							<input type="checkbox" name="_remember_me" checked>
							remember me
						</label>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-lg btn-login w-100 mt-3" type="submit">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

