{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid goNav">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.png') }}" alt="logo" height="200">
            </a>
            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item date-item">
                        <p class="nav-link disabled date">{{ "now"|date("l j F Y") }}</p>
                    </li>
                </ul>
            {% endif %}
            <div class="position-absolute top-0 start-0 m-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Areas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_user_show", {'id': app.user.id}) }}">My profile</a>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link text-white">Hello,
                                {{ app.user.username }}
                            </p>
                        </li>
                        <li class="nav-item logout-item">
                            <a href="{{ path("app_logout") }}" class="nav-link">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_register") }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
