{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>FirstName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.surname }}</td>
                <td>{{ participant.firstName }}</td>
                <td>{{ participant.phoneNumber }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_participant_show', {'id': participant.id}) }}">show</a>
                    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participant_new') }}">Create new</a>
{% endblock %}
