{% extends 'base.html.twig' %}

{% block title %}GoOut index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        <div class="col-12 goCard">
				<h1 class="mb-4 text-white text-center">Filters</h1>
				<p>Filter by date</p>
                <p>Filter by date</p>
                <p>Filter by date</p>
                <p>Filter by date</p>
				<form action="{{ path('app_go_out_index') }}" method="get">
					<div class="form-group">
						<label for="startDateTime">Start Date</label>
						<input type="date" id="startDateTime" name="startDateTime" class="form-control" value="{{ app.request.query.get('startDateTime') }}" placeholder="yyyy-mm-dd">
					</div>
				</form>
			</div>
            {% for go_out in go_outs %}
                <div class="col-12 col-md-12 col-lg-4 mb-4">
                    <div class="card custom-card">
                        <a href="{{ path('app_go_out_show', {'id': go_out.id}) }}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-title">{{ go_out.name }}</h5>
                                <p class="card-text">Start Date: {{ go_out.startDateTime ? go_out.startDateTime|date('Y-m-d H:i:s') : '' }}</p>
                                <p class="card-text">Duration: {{ go_out.duration ? go_out.duration|date('H:i:s') : '' }}</p>
                                <p class="card-text">Limit Date for Inscription: {{ go_out.limitDateInscription ? go_out.limitDateInscription|date('Y-m-d') : '' }}</p>
                                <p class="card-text">Max Number of Inscriptions: {{ go_out.maxNbInscriptions }}</p>
                                <p class="card-text">{{ go_out.description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('app_go_out_edit', {'id': go_out.id}) }}" class="btn btn-secondary w-100">Edit</a>
                            </div>
                        </a>
                    </div>
                </div>
            {% else %}
                <p class="col-12">Come back soon</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_go_out_new') }}" class="btn btn-success mt-4">Create new event</a>
{% endblock %}
