{% extends 'base.html.twig' %}

{% block title %}GoOut index
{% endblock %}



{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-12 px-3">
				<div class="col-12 goCardFilter mb-5 px-3">
					<form action="{{ path('app_go_out_search') }}" method="get">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="searchInput">Search</label>
									<input type="text" id="searchInput" name="search" class="form-control" placeholder="Contains...">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="site">Select a site :</label>
									<select id="site" name="site" class="form-control">
										<option value="">Select a site</option>
										{% for site in sites %}
											<option value="{{ site.id }}">{{ site.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="startDatePicker">Start Date</label>
									<input type="date" id="startDatePicker" name="startDate" class="form-control" placeholder="Start Date">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="endDatePicker">End Date</label>
									<input type="date" id="endDatePicker" name="endDate" class="form-control" placeholder="End Date">
								</div>
							</div>
							<div class="col-12 my-4">
								<div class="btn-group-toggle space-between" data-toggle="buttons">
									<label class="btn btn-custom">
										<input type="checkbox" class="filter-checkbox" name="filter1">
										Which I am the organizer
									</label>
									<label class="btn btn-custom">
										<input type="checkbox" class="filter-checkbox" name="filter2">
										Which i am registered for
									</label>
									<label class="btn btn-custom">
										<input type="checkbox" class="filter-checkbox" name="filter3">
										Which i am not registered
									</label>
									<label class="btn btn-custom">
										<input type="checkbox" class="filter-checkbox" name="filter4">
										Completed
									</label>
								</div>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-login btn-lg btn-block w-100">GO</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				{% for go_out in go_outs %}
					{% set libelle = go_out.status.libelle %}
					<div class="col-12 col-md-12 col-lg-4 mb-4 ">
						<div class="card custom-card border">
							<a href="{{ path('app_go_out_show', {'id': go_out.id}) }}" class="card-link">
								<div class="card-header d-flex justify-content-between align-items-center">
									<h4 class="card-title my-3">{{ go_out.name }}</h4>
									<p class="card-text"><strong>Status : </strong>
										{{ go_out.status.libelle }}
									</p>
								</div>
								<div class="card-body">
									<p class="card-text"><strong>Date de début : </strong>
										{{ go_out.startDateTime|format_datetime(locale='fr')  }}</p>
									<p class="card-text"><strong>Durée : </strong>
										{{ go_out.duration ? go_out.duration|date('H:i:s') : '' }}</p>
									<p class="card-text"><strong>Limite d'inscription : </strong>
										{{ go_out.limitDateInscription|format_datetime(locale='fr') }}</p>
									<p class="card-text"><strong>Nombre max de participant(s) : </strong>
										{{ go_out.maxNbInscriptions }}</p>
									<p class="card-text"><strong>Organisateur : </strong>
										{{ go_out.organizer.firstname }} {{ go_out.organizer.surname }}
									</p>
									<p class="card-text"><strong>Site : </strong>
										{{ go_out.site.name }}
									</p>
									<p class="card-text"><strong>Description : </strong>
										{{ go_out.description|u.truncate(50, '...', false) }}
									</p>
								</div>
							</a>
						</div>
					</div>
				{% else %}
					<p class="col-12">Come back soon</p>
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="create-event-button">
			<a href="{{ path('app_go_out_new') }}" class="btn btn-success">Create new event</a>
		</div>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
			const checkboxes = document.querySelectorAll('.filter-checkbox');

			checkboxes.forEach(function (checkbox) {
				checkbox.addEventListener('change', function () {
					if (this.checked) {
					this.parentElement.classList.add('active');
					} else {
					this.parentElement.classList.remove('active');
					}
				});
				});
			});
		</script>


	{% endblock %}

