{% extends 'base.html.twig' %}

{% block title %}Event infos
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 card custom-card">
				<div class="card-header">
					<h4 class="card-title text-center my-3">{{ go_out.name }}</h4>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Id:</strong>
						{{ go_out.id }}</p>
					<p class="card-text">
						<strong>Start Date:</strong>
						{{ go_out.startDateTime ? go_out.startDateTime|date('Y-m-d H:i:s') : '' }}</p>
					<p class="card-text">
						<strong>Duration:</strong>
						{{ go_out.duration ? go_out.duration|date('H:i:s') : '' }}</p>
					<p class="card-text">
						<strong>Limit Date for Inscription:</strong>
						{{ go_out.limitDateInscription ? go_out.limitDateInscription|date('Y-m-d') : '' }}</p>
					<p class="card-text">
						<strong>Max Number of Inscriptions:</strong>
						{{ go_out.maxNbInscriptions }}</p>
					<p class="card-text">
						<strong>Description:</strong>
						{{ go_out.description }}</p>

					<h2>Participants</h2>
					<ul>
						{% for participant in go_out_participants %}
							<li>{{ participant.participant.surname }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="card-footer my-2">
          {% if is_granted('ROLE_ADMIN') %}
					  <a href="{{ path('app_go_out_edit', {'id': go_out.id}) }}" class="btn btn-secondary w-100 my-1">Edit</a>
          {% endif %}
					<a href="{{ path('app_participant_go_out_new', {'id': go_out.id}) }}" class="btn btn-primary w-100 my-1">Register</a>
					<a href="{{ path('app_participant_go_out_delete', {'id': go_out.id}) }}" class="btn btn-danger w-100 my-1">Remove from List</a>
                    <a href="{{ path('app_go_out_index') }}" class="btn btn-secondary w-100 my-1">Back to list</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

